# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/app/src/main/assets/licenceP.bin
/app/src/main/assets/GMB/
/app/src/main/assets/gmb/
/app/src/main/assets/mgb/
local.properties